.switch-container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    padding: 0.25rem 0.5rem;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch-light,
.switch-dark {
    font-size: 2.25rem;
    color: lightgray;
    cursor: pointer;
}

.light-theme {
    background-color: rgb(249, 244, 228);
}

.dark-theme {
    background-color: rgb(36, 36, 36);
}

.light-theme,
.dark-theme {
    transition: background-color 0.6s ease, color 0.6s ease;
}

.light-theme .active {
    color: black;
}

.dark-theme .active {
    color: yellow;
}