body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: darkgrey;
}

.color-box {
    margin-top: 2rem;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}