@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Stack+Sans+Notch:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #2A7B9B;
    background: -webkit-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2A7B9B", endColorstr="#EDDD53", GradientType=1);
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 1rem 2rem;
}

.logo {
    font-family: "Stack Sans Notch", sans-serif;
    color: whitesmoke
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.container {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 15px;
    width: fit-content;
    min-height: 500px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-shadow: 0px 7px 10px 2px rgba(124, 124, 124, 0.63);
    box-shadow: 0px 5px 20px 1px rgba(109, 109, 109, 0.204);

    transition: all 0.5s ease-in-out;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #fafafa;
    font-family: "Funnel Display", sans-serif;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.error {
    color: crimson;
    font-weight: 500;
    margin-top: 1rem;
    font-family: "Funnel Display", sans-serif;
}

label {
    width: 30%;
}

input {
    width: 100%;
    font-family: "Funnel Display", sans-serif;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.25rem;
}

.clear-button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.25rem;
    font-family: "Funnel Display", sans-serif;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 2rem;
    cursor: pointer;

    transition: box-shadow 200ms ease-out;
}

.clear-button:hover {
    -webkit-box-shadow: 0px 7px 10px 2px rgba(124, 124, 124, 0.63);
    box-shadow: 0px 5px 20px 1px rgba(109, 109, 109, 0.204);
}

.generate-button {
    margin-bottom: 0.75rem;
    font-family: "Funnel Display", sans-serif;
    font-size: 1rem;
    background-color: rgb(237, 237, 61);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: scale 200ms ease-out;
}

.generate-button:hover {
    scale: 1.05;
}

.color-display {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-family: "Funnel Display", sans-serif;
    border: 1px solid lightgray;
    background-color: #fafafa;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.color-display__title {
    width: 30%;
    margin-right: 2rem;
}

.color-display__value {
    width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}

.color-box {
    margin-top: 2rem;
    width: 100%;
    min-height: 250px;
    border-radius: 25px;

    transition: background-color 0.3s ease-in-out;
}

footer {

    font-family: "Funnel Display", sans-serif;
    font-size: 1rem;

    padding: 0.25rem;
    text-align: center;
    margin: auto 0;
    justify-self: flex-end;
}

@media screen and (max-width: 420px) {
    header {
        text-align: center;
    }

    main {
        padding: 1rem;
    }

    .container {
        padding: 2rem;
        min-height: 300px;
        transition: all 0.5s ease-in-out;
    }



    .color-box {
        margin-top: 2rem;
        width: 100%;
        min-height: 200px;
        border-radius: 25px;

        transition: background-color 0.3s ease-in-out;
    }


}