@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Stack+Sans+Notch:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #2A7B9B;
    background: -webkit-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2A7B9B", endColorstr="#EDDD53", GradientType=1);
}

.header {
    padding: 1rem 2rem;
}

.logo {
    font-family: "Stack Sans Notch", sans-serif;
    color: whitesmoke
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 25px;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #fafafa;

    font-family: "Funnel Display", sans-serif;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.error {
    color: crimson;
    font-weight: 500;
    margin-top: 1rem;
    font-family: "Funnel Display", sans-serif;
}

label {
    margin-right: 2rem;
}

input {
    font-family: "Funnel Display", sans-serif;

    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.25rem;

    color: darkblue;
}


.color-box {
    margin-top: 2rem;
    width: 100%;
    height: 250px;
    border-radius: 50px;

    transition: background-color 0.3s ease-in-out;
}