@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Stack+Sans+Notch:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #2A7B9B;
    background: -webkit-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2A7B9B", endColorstr="#EDDD53", GradientType=1);
}

.header {
    padding: 1rem 2rem;
}

.logo {
    font-family: "Stack Sans Notch", sans-serif;
    color: whitesmoke
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.container {
    background-color: white;
    padding: 5rem;
    border-radius: 50px;
}

.color-box {
    margin-top: 2rem;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}