:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

header {
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-container {
  display: flex;
  gap: 0.25rem;
}

.display {
  background-color: #e3e3e3;
  color: black;
  font-size: 24px;
  font-weight: 600;
  padding: 0.45rem 2rem;
}

.btn {
  padding: 0.5rem 1rem;
}