:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  transition: background-color 0.6s ease;
}

main.light {
  animation: fadePulse 1s ease-in-out;
}

@keyframes fadePulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

button {
  padding: 1.25rem 2.5rem;
  border-radius: 50px;
  border: none;

  font-size: 1.5rem;
  font-weight: 500;

  transition: background-color 0.6s ease, color 0.6s ease;
}

.light {
  background-color: bisque;
  color: #242424;
}